*{
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(9, 1, 56),rgb(190, 5, 134));
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: linear-gradient(rgb(190, 5, 134),rgb(9, 1, 56));
    box-shadow: -20px -20px 50px rgba(253, 253, 253, 0.1),25px 25px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.calculator form input{
    
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -3px -3px 10px rgba(253, 253, 253, 0.192),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    margin: 10px;
}


.display{
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
   
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 55px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: rgb(248, 232, 138);
}